$COLOR: white;
$BACKGROUND: black;
$THEME: #023373;
$PADDING: 0 20vw 0 20vw;
$TEXT_OPACITY: .8;
$TRANSITION_DURATION: .1s ease-in-out;
$TEXT_GRADIENT: linear-gradient(45deg, hsl(214, 90%, 40%) 30%, hsl(210, 46%, 65%), hsl(214, 97%, 30%) 70%);

article{
    width: 100%;
    min-height: calc(100vh - 4em);

    position: relative;

    
    section {
        &:first-of-type {
            position: relative;
            width: 100%;
            height: 17em;
            margin: 4em 0 0 0;

            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            h2 {
                padding: 0 0 0 20vw;
                font-weight: normal;
                font-size: 4em;
                color: white;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                background: url('../../assets/maxime_casque.png') no-repeat;
                background-size: 100%;
                background-position: 0 50%;
                opacity: .3;

                z-index: -1;
            }
        }

        &:last-of-type {
            padding: $PADDING;
            margin: 4em 0 4em 0;

            color: rgba(255, 255, 255, .8);

            h3 {
                font-weight: normal;
                font-size: 1.75em;
            }
        }
    }
}