<article>
    <section>
        <h2>Maxime Delpech</h2>
    </section>
    <section>
        <h3 id="0">Almado VTR racing?</h3>
        <p>L’association Almado VTR Racing a pour but de récolter des fonds pour permettre à Maxime Delpech de trouver un volant pour l’année 2022. Au-delà de l’aspect sportif que cela représente, les entreprises partenaires seront des pionnières de la révolution de l’accès au sport automobile que ce projet incarne. Nous mettrons un point d’honneur à la mise en avant de nos partenaires, sans qui ce projet serait impossible : mise en avant sur ce site internet, sur les réseaux sociaux et sur la voiture, mais aussi sur les équipements. Des vidéos seront aussi publiées sur la chaîne Youtube pour suivre l’avancée du projet et de la saison.
        <br><br>
        Almado VTR racing est une associacion déclarée (loi de 1901) créée afin d’apporter une structure légale au projet du pilote Maxime Delpech. Elle permet d’apporter de la visibilité - nécessaire aux financements - ainsi qu’une réduction fiscale aux mécènes: 60% des versements effectués peuvent être déduis des impôts dans la limite de 5‰ du chiffre d’affaires (ou de 20000€, dans la mesure où le CA est inférieur à ce montant).</p>
        <br>
        <h3 id="1">Maxime Delpech?</h3>
        <p>Maxime Delpech est un jeune Toulousain de 19 ans qui pratique le pilotage sur simulateur depuis ses 8 ans. Spécialiste des jeux de la saga Gran Turismo, il décide de se lancer dans les compétitions à 16 ans, en 2019. Ses résultats lui permettent, en mars 2020, d'intégrer la structure Prima Esport. Cette structure a pour particularité d’être associée au Team Duqueine, qui participe notamment aux 24h du Mans en LMP2.
        <br>
        Maxime s’entraîne donc sur le simulateur dynamique de Duqueine (utilisé par de nombreux pilotes de courses comme Robert Kubica, Loris Cabirou…), coaché par le Team Manager et ingénieur Max Favard. Ce simulateur est mis à disposition par l’équipe pour s'imprégner des sensations d’une véritable voiture de course.
        <br>
        Cette progression l’amène en Novembre 2020 à conduire pour la 1ère fois une formule 4 et une LMP3 sur le circuit du Pôle Mécanique d'Alès, marquant un cap important pour l’image des pilotes de simulateur, puisque cet essai s’est avéré être un succès, sans expérience préalable d’une voiture de course. Depuis cette expérience, Maxime Delpech continue de se préparer mentalement et physiquement dans le but de trouver un volant pour prendre part à de réelles courses automobiles afin de révolutionner le passage du virtuel au réel. </p>
    </section>
</article>
