<article>
    <header id="header">
        <div id="navBar">
            <label for="check" id="burger" (click)="displayMenu()">
                <input type="checkbox" id="check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        

            <a href="/mobile" id="titre"><h1>
                almado<span>VTR</span>racing
            </h1></a>
        </div>

        <ul id="menu">
            <a></a>
            <a></a> 
            <a href="/mobile" class="lien"><li>A propos</li></a>
            <a href="/mobile" class="lien"><li>Actualités</li></a>
            <a href="/mobile" class="lien"><li>Galerie</li></a>
            <a href="/mobile" class="lien"><li>Contact</li></a>
            <a class="copyrights"><li>Copyrights © 2021-{{ current_year }} Almado VTR racing</li></a>
        </ul>
    </header>


    <footer></footer>
</article>