<article>
    <section>
        <h2>Actualités</h2>
        <a href="{{ image.link }}" class="news" *ngFor="let image of images.reverse()">
            <img src="../../assets/{{ image.path }}" alt="{{ image.path }}">
            <p>{{ image.desc }}</p>
            <p>{{ image.date }}</p>
        </a>

        <div class="socials-container">
            <p>Rejoignez-nous sur les réseaux!</p>
            <ul class="socials">
                <li><a href="mailto:contact@almadoVTRracing.fr" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/apple-mail.png"/></a></li>
                <li><a href="//www.instagram.com/maxime_delpech_/" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/instagram-new--v1.png"/></a></li>
                <li><a href="//fr-fr.facebook.com/maxime.delpech.927" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/facebook--v1.png"/></a></li>
                <li><a href="//twitter.com/MaximeDelpech3" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/twitter--v1.png"/></a></li>
                <li><a href="//www.youtube.com/channel/UCq4_gnPmqdPtNH65SaXtF8A" target="_blank"><img src="https://img.icons8.com/ios-filled/50/ffffff/youtube-play.png"/></a></li>
            </ul>
        </div>
    </section>
</article>