$COLOR: white;
$PADDING: 0 20vw 0 20vw;
$TEXT_OPACITY: .8;
$TRANSITION_DURATION: .2s ease-in-out;
$TEXT_GRADIENT: linear-gradient(45deg, #1f80ff 30%, #99c2ff, #1f80ff 70%);
$BORDER_GRADIENT: linear-gradient(45deg, #1f80ff 30%, #99c2ff, #1f80ff 70%);

article {
    width: 100%;
    min-height: 100vh;

    padding: $PADDING;


    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 1em;

        h2 {
            font-weight: normal;
            font-size: 2em;
    
            margin: 4em 0 1em 0;
        }

        .news {
            position: relative;
            color: $COLOR;
            text-decoration: none;

            &::after {
                content: "";
                position: absolute;

                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                background: linear-gradient(to top, rgba(0, 0, 0, .75) -25%, rgba(0, 0, 0, .5) 25%, rgba(0, 0, 0, 0) 100%);

                z-index: 1;
            }

            &:hover img {
                opacity: .8;
            }

            p {
                position: absolute;
                width: 100%;

                left: 0;

                padding: 0 20% 0 1em;

                z-index: 2;

                &:first-of-type {
                    font-size: 1.5em;
                    max-height: calc(100% - 2em);
                    bottom: 1em;
                }

                &:last-of-type {
                    font-size: 1em;
                    padding: 0 0 0 1.5em;
                    bottom: 0;
                }
            }

            &:first-of-type, &:nth-of-type(4n) {
                img {
                    position: relative;
    
                    width: 100%;
                    height: calc(9*60vw/21);
    
                    object-fit: cover;
                    object-position: 0 50%;
    
                    transition: $TRANSITION_DURATION;
                }
            }
            img {
                position: relative;

                width: calc(30vw - .5em);
                height: calc(30vw - .5em);

                object-fit: cover;
                object-position: 0 50%;

                transition: $TRANSITION_DURATION;
            }
        }

        .socials-container {
            width: 100%;
            margin: 1em 0 4em 0;

            display: flex;
            justify-content: space-between;
            align-items: center;


            p {
                min-width: max-content;
                font-size: 1.2em;

                padding: 0;
            }

            ul {
                list-style: none;
                padding: 0;

                display: flex;
                justify-content: flex-end;
                column-gap: .5em;

                img {
                    width: 30px;
                }
            }
        }
    }
}