<style>
	:host {
		font-size: 1em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
</style>

<header>
	<a href="/"><h1>
		almado<span>VTR</span>racing
	</h1></a>
	<ul>
		<li><a href="/apropos">A propos</a></li>
		<li><a href="/actu">Actualités</a></li>
		<li><a href="/galerie">Galerie</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</header>

<router-outlet></router-outlet>

<footer>
	<div class="upperSide">
		<a href="/" class="logo"><h1>
		almado<span>VTR</span>racing
		</h1></a>
		<ul>
			<li><a href="/apropos">A propos</a></li>
			<li><a href="/preparation">Préparation</a></li>
			<li><a href="/galerie">Galerie</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<ul class="socials">
			<li><a href="mailto:contact@almadoVTRracing.fr" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/apple-mail.png"/></a></li>
			<li><a href="//www.instagram.com/maxime_delpech_/" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/instagram-new--v1.png"/></a></li>
			<li><a href="//fr-fr.facebook.com/maxime.delpech.927" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/facebook--v1.png"/></a></li>
			<li><a href="//twitter.com/MaximeDelpech3" target="_blank"><img src="https://img.icons8.com/ios/50/ffffff/twitter--v1.png"/></a></li>
			<li><a href="//www.youtube.com/channel/UCq4_gnPmqdPtNH65SaXtF8A" target="_blank"><img src="https://img.icons8.com/ios-filled/50/ffffff/youtube-play.png"/></a></li>
		</ul>
	</div>
	<hr>
	<div class="downSide">
		<p>Copyright © 2021-{{ current_year }} Almado VTR racing</p>
		<p>Dév. : <a href="//github.com/loouis-t/" target="_blank">Louis Travaux</a></p>
	</div>
</footer>