$COLOR: white;
$PADDING: 0 15vw 0 15vw;
$TEXT_GRADIENT: linear-gradient(45deg, hsl(214, 90%, 40%) 30%, hsl(210, 46%, 65%), hsl(214, 97%, 30%) 70%);

header {
    z-index: 999;

    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    height: 4em;

    background: transparentize($color: #1f2122, $amount: .15);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: $PADDING;


    h1 {
        display: flex;
        align-items: center;

        font-weight: normal;
        font-size: .8em;
        letter-spacing: .1em;

        padding: 1em;

        transition: .1s all;
        

        span {
            font-size: 2em;
            margin: 0 .2em 0 .2em;
        }

        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    a {
        color: $COLOR;
        text-decoration: none;
    }

    ul {
        display: flex;

        li {
            min-width: 5em;
            padding: 1em;

            text-align: center;
            list-style: none;
            font-size: .8em;

            a {
                transition: .1s all;
            }

            &:hover a {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

footer {
    background: #1f2122;

    margin: 0em 0 0 0;
    padding: $PADDING;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;


    a {
        color: $COLOR;
        
        text-decoration: none;
        
        h1 {
            display: flex;
            align-items: center;

            font-weight: normal;
            font-size: .8em;
            letter-spacing: .1em;

            padding: 1em 0 1em 0;

            transition: .1s all;

            span {
                font-size: 2em;
                margin: 0 .2em 0 .2em;
            }
        }


    }

    

    ul {
        list-style: none;

        &:first-of-type {
            display: flex;

            align-self: center;
            justify-self: center;
            padding: 0;

            &:nth-child(n) {
                display: flex;
                justify-content: space-evenly;

                font-size: .75em;

                text-decoration: underline;
            }
        }

        &:last-of-type {
            display: flex;

            img {
                max-width: 2em;
                padding: 0 .25em 0 .25em;
            }
        }

        li {
            padding: 0;
        }
    }

    hr {
        width: 100%;
        border: 0 0 1px 0 solid;

        margin: 0;
    }

    .upperSide {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        min-width: 100%;

        position: relative;

        .logo, ul {
            width: calc(100%/3);
        }

        .socials {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .downSide {
        font-size: .75em;

        display: flex;
        justify-content: space-between;

        a {
            text-decoration: underline;
        }
    }
}


@media screen and (max-width: 768px) {
    header, footer {
        display: none;
    }
}