/* You can add global styles to this file, and also import other style files */
/* GENERAL */
$COLOR: white;
$BACKGROUND: black;
$THEME: #023373;
$PADDING: 0 15vw 0 15vw;

html {
    background: $BACKGROUND;
    font-family: 'Roboto', sans-serif;
    body {
        position: relative;

        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;

        background: $BACKGROUND;
        color: $COLOR;

        * {
            box-sizing: border-box;
        }

        overflow-x: hidden;
        animation: onLoad .5s ease-in;

        a {
            color: $COLOR;
        }
    }
}

@keyframes onLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}