<article>
	<!--<section>
		<h2>Transition du virtuel au réel</h2>
		<div class="painting">
			<img src="./assets/devant_lmp3.jpeg" alt="lmp">
			<img src="./assets/dans_simulateur.jpeg" alt="">
		</div>
		<p>Almado VTR racing a pour but de trouver les financements nécessaires à Maxime Delpech, un pilote de simulateur, pour prendre part aux départs de vraies courses et performer dans le sport automobile. Un projet peu ordinaire et novateur alimenté par la passion unique du pilotage ! en savoir plus</p>
	</section>-->

    <section id="s-1">
        <h2>Transition du virtuel au réel</h2>
        <h3>Maxime Delpech</h3>
    </section>
	<section>
        <div class="sous-section" id="s-s-1">
            <img src="./assets/dans_simulateur.jpeg" alt="">
            <p id="el">Trouvons les financements nécessaires à Maxime Delpech, pilote de simulateur, pour prendre part à de vraies courses et performer dans le sport automobile.
                <a href="/apropos#0"><span>En savoir plus ⊕</span></a>
            </p>
            
        </div>
        <div class="sous-section" id="s-s-2">
            <img src="./assets/maxime_casque.png" id="lmp" alt="lmp">
            <p>Etudiant et pilote de simulateur semi-professionnel, Maxime débute les compétitions à 16 ans et enchaîne les victoires. 
            <br>
            Il intègre la PRiMA Esport en 2020 et pilote, la même année, une F4 et une LMP3
            <a href="/apropos#1"><span>En savoir plus ⊕</span></a>
            </p>
        </div>
	</section>
    <section id="s-3">
        <h5>Palmarès</h5>
        <div class="palmares">
            <div class="sous-palmares">
                <h4>112 Victoires
                    <span>Dont 4 en FIA</span>
                </h4>
                <h4>158 Pôle positions
                    <span>Dont 8 en FIA</span>
                </h4>
                <h4>2 records du monde</h4>
            </div>
            <div class="sous-palmares">
                <h4>Renault vitality show
                    <span>Vainqueur</span>
                </h4>
                <h4>284 top 5
                    <span style="color: black">-</span>
                </h4>
                <h4>792 Tours en tête</h4>
            </div>
        </div>
    </section>
</article>